.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4f46e5, #0ea5e9);
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3730a3;
}

.input {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border: 2px solid #c7d2fe;
  border-radius: 12px;
  outline: none;
  transition: 0.2s;
  margin-bottom: 20px;
}

.input:focus {
  border-color: #4f46e5;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #4f46e5;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #4338ca;
}
